{% extends 'base.html.twig' %}

{% block title %}💪 Les exercices 💪
{% endblock %}

{% block body %}


	<div class="container mt-5">


		{% if not articles.items is same as([])%}
			<h1 class='text-white '>Les exercices</h1>
			{% for message in app.flashes('success') %}
				<div class="alert alert-dismissible alert-success">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('danger') %}
				<div class="alert alert-dismissible alert-danger">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('warning') %}
				<div class="alert alert-dismissible alert-warning">
					{{ message }}
				</div>
			{% endfor %}
			{% if app.user %}
				<a href="{{path('article.new')}}" class="btn btn-success">Créer un exercice</a>
			{% endif %}
			<div class=" count mt-4 p-3 bg-success text-white rounded mb-3">


				<p>il y a
					{{ articles.getTotalItemCount }}
					articles au total.</p>
			</div>

			{# total items count #}

			{% for article in articles %}


				<div class="  d-inline-flex align-items-center my-3 ">
					<div class="row g-0 ">
						<div class="card border-warning bg-opacity-50 text-white  bg-secondary bg-gradient  " style="max-width: 20rem; height:auto;">
							<img class="card-img-top" src="/img/girlfit.jpg" alt="Card image cap">
							<div class="card-body">
								<h2 class="card-title text-center">{{article.title}}</h2>

								<p class="card-text">{{article.content[:100] ~ '...'}}</p>

								<p class="card-text">{{article.createdAt|date("d/m/Y")}}</p>

								<a href="{{path('article.show', {id: article.id})}}" class="btn btn-success col-12">Voir</a>
								{% if app.user and article.user == app.user %}
									<div class=" mt-3">
										<a href="{{path('article.edit', {id: article.id})}}" class="btn btn-warning col-12">Editer</a>
									</div>
									<div class="mt-3">
										<button type="button" class="btn btn-danger col-12" data-bs-toggle="modal" data-bs-target="#exampleModal">
											Supprimer
										</button>
									</div>


									<!-- Modal -->
									<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title text-dark" id="exampleModalLabel">Suppression du produit</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body text-dark">
													<p>Êtes-vous sûr de vouloir supprimer l'exercice 
														"{{ article.title }}"
														?</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
													<a href="{{ path('article.delete', {id: article.id}) }}">
														<button type="button" class="btn btn-danger">Supprimer</button>
													</a>
												</div>
											</div>
										</div>
									</div>
								{% endif %}

							</div>
						</div>
					</div>
				</div>


			{% endfor %}

			<div class="navigation d-flex justify-content-center dd_pag_index">
				{{ knp_pagination_render(articles) }}

			</div>
		{% else %}
			<h4>
				Il n'y a pas d'article
			</h4>
		{% endif %}
	</div>
{% endblock %}
