{% extends 'base.html.twig' %}

{% block title %}💪 Les exercices 💪
{% endblock %}

{% block body %}


	<div class="container mt-5">


		{% if not articles.items is same as([])%}
			<h2 class='text-white '>Les exercices</h2>


			<div class=" count mt-4 p-3 bg-success text-white rounded mb-3">


				<p>il y a
					{{ articles.getTotalItemCount }}
					articles au total.</p>
			</div>

			{# total items count #}

			{% for article in articles %}


				<div class="  d-inline-flex align-items-center my-3 ">
					<div class="row g-0 ">
						<div class="card border-warning bg-opacity-50 text-white  bg-secondary bg-gradient  " style="max-width: 20rem; height:auto;">
							<img class="card-img-top" src="/img/girlfit.jpg" alt="Card image cap">
							<div class="card-body">
								<h2 class="card-title text-center">{{article.title}}</h2>
								<p>
									créée par
									{{article.id}}</p>
								<p class="card-text">{{article.content[:100] ~ '...'}}</p>

								<p class="card-text">{{article.createdAt|date("d/m/Y")}}</p>

								<a href="{{path('article.show', {id: article.id})}}" class="btn btn-success">Voir</a>
								{% if app.user %}
									<a href="{{path('article.edit', {id: article.id})}}" class="btn btn-warning">Editer</a>
									<a href="{{path('article.delete', {id: article.id})}}" class="btn btn-danger">Supprimer</a>
								{% endif %}

							</div>
						</div>
					</div>
				</div>


			{% endfor %}

			<div class="navigation d-flex justify-content-center dd_pag_index">
				{{ knp_pagination_render(articles) }}

			</div>
		{% else %}
			<h4>
				Il n'y a pas d'article
			</h4>
		{% endif %}
	</div>
{% endblock %}
