{% extends 'base.html.twig' %}

{% block title %}Team-mate -
	{{team.name}}
{% endblock %}


{% block body %}

	<div  class="dd_footer">
		<div class="container bg-danger bg-gradient bg-opacity-50 text-white border border-warning rounded-2 mt-4">

			<h1 class="text-center">{{team.name}}</h1>
			<span class=" badge bg-success p-2">Créée le
				{{team.createdAt|date('d/m/Y')}}
			</span>
			<h2>Description :
			</h2>
			<hr class="featurette-divider">
			<p>
				{{team.description}}</p>
			<hr class="featurette-divider">


			{% if team.time %}
				<p>Temps (en minute) :
					{{team.time}}</p>
			{% else %}
				<p>Temps non renseigné</p>
			{% endif %}

			{% if team.NbPeople %}
				<p>Pour
					{{team.NbPeople}}
					personnes
				</p>
			{% else %}
				<p>Nombre de personnes non renseigné</p>
			{% endif %}


			{% if team.difficulty %}

				<p>Difficulté :
					{{team.difficulty}}/5</p>
			{% else %}
				<p>Difficulté non renseigné</p>
			{% endif %}
		

			<p>Les Exercices :</p>
			{% for article in team.article %}
				<span class=" badge bg-success mb-4 p-2">
					{{article.title}}
				</span>
			{% else %}

				<p>Aucun exercices renseigné</p>
			{% endfor %}
		</div>
	</div>


{% endblock %}
